.menu {
    top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
    height: calc(100% - 42px);
    position: absolute;
    z-index: 3;
}

ul.menu2 {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    z-index: 4;
    box-shadow: inset 6px 0px 6px 0px 
                rgba(0,0,0,0.13), 
                inset -6px 0px 6px 0px 
                rgba(0,0,0,0.13), 3px 0px 15px 0px 
                rgba(25,218,47,0.55);
    background: linear-gradient(to top,
                #D8D8D8 10%,
                #D8D8D8 20%,
                #CECECE 30%,
                #CBCBCB 40%,
                #CBCBCB 50%,
                #D5D5D5 60%,
                #D4D4D4 70%,
                #E9E9E9 80%,
                #E9E9E9 90%,
                #F2F2F2 100%
    );
    border-radius: 2.5px;
    border: 1px solid #8D8D8D;
}

@keyframes slideInFromLeftpanel {
  0% {
    transform: translateX(-310px);
  }
  100% {
    transform: translateX(0);
  }
}

ul.menu3 {
    width: 300px;
    margin-left: 135px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    z-index: 2;
    position: fixed;
    top:0;
    box-shadow: inset 6px 0px 6px 0px rgba(0,0,0,0.13), 
                inset -6px 0px 6px 0px rgba(0,0,0,0.13), 
                3px 0px 15px 0px rgba(235,121,213, 0.55);/*
    animation: 0.7s ease-out 0s 1 slideInFromLeft;*/
    background: linear-gradient(to top,
                #D8D8D8 10%,
                #D8D8D8 20%,
                #CECECE 30%,
                #CBCBCB 40%,
                #CBCBCB 50%,
                #D5D5D5 60%,
                #D4D4D4 70%,
                #E9E9E9 80%,
                #E9E9E9 90%,
                #F2F2F2 100%
    );
    border: 1px solid #EB79D5;
    animation: 0.8s slideInFromLeftpanel;
}

ul.exhibitions {
    box-shadow: inset 6px 0px 6px 0px rgba(0,0,0,0.13), 
                inset -6px 0px 6px 0px rgba(0,0,0,0.13), 
                3px 0px 15px 0px rgba(235,121,121, 0.55);
    border: 1px solid #eb7979;
    overflow-y: scroll;
}

ul.projects {
    box-shadow: inset 6px 0px 6px 0px rgba(0,0,0,0.13), 
                inset -6px 0px 6px 0px rgba(0,0,0,0.13), 
                3px 0px 15px 0px rgba(121,129,235, 0.55);
    border: 1px solid #7981EB;
}

ul.websites {
    box-shadow: inset 6px 0px 6px 0px rgba(0,0,0,0.13), 
                inset -6px 0px 6px 0px rgba(0,0,0,0.13), 
                3px 0px 15px 0px rgba(235,196,121, 0.55);
    border: 1px solid #EBC479;
}

.break {
    text-align:center;
}

button:active.blue-a {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important; 
}

.glass {
    background: linear-gradient(to bottom,  
                rgba(96,103,104,0.3) 0%,
                rgba(187,187,187,0.3) 3%,
                rgba(187,187,187,0.3) 27%,
                rgba(0,0,0,0.3) 28%,
                rgba(0,0,0,0.3) 60%,
                rgba(0,0,0,0.3) 73%,
                rgba(75,80,81,0.3) 88%,
                rgba(0,0,0,0.3) 97%,
                rgba(0,0,0,0.3) 100%); /* W3C */
    border-color: rgba(0, 0, 0, 0.2);
    border-image: none;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
                0 2px 6px rgba(0, 0, 0, 0.5),
                0 10px rgba(0, 0, 0, 0.05) inset;
}

button:hover.blue-a {
    color: rgba(230, 240, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(230, 240, 255, 0.99), 
                 0px 0px 4px rgba(200, 230, 255, 0.99);
    border-color: rgba(120, 200, 255, 0.4);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
                0 2px 6px rgba(0, 0, 0, 0.5),
                0 10px rgba(0, 0, 0, 0.05) inset,
                0 0px 5px 2px rgba(120, 200, 255, 0.75),
                0 0px 10px 2px rgba(120, 200, 255, 0.75) inset;
}

a#home {
    color: black;
}

button:hover a#home {
    color: rgba(230, 240, 255, 0.99);
}

button:hover.blue-a {
    color: rgba(230, 240, 255, 0.99);
}

button.blue-a {
width: 100px;
height: 30px;
}

.blue-a {
    color: rgba(200, 230, 255, 0.99);
    background-color: rgba(120, 200, 255, 0.25);

}

.description{
    z-index: 9;
    border: 1px solid #bbb;
    box-shadow: 5px 5px 8px rgba(0,0,255, 0.8), 
                10px 10px 8px rgba(184,197,212, 0.8), 
                15px 15px 8px green;
    overflow: hidden;
    width: calc(100% - 452px);
    float: left;
    left: 550px;
}

/*iframe.description {
    margin-right: auto;
    margin-left: auto;
    top: 98px;
    z-index: 9;
    width: 300px;
    height: 300px;
}*/

#ThreeJS iframe {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% + 300px);
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: -300px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 11px;
    font-family: Verdana;
    overflow-x: hidden;
    background-image: none !important;
}

p {
    /*font: 12px/normal "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-family: "Lucida Grande";*/
    font: 11px/normal Verdana,sans-serif;
    font-family: Verdana;
    background-image: none !important;
    margin: 20px;
}

p.smaller {
    font: 10px/normal Verdana,sans-serif;
    font-family: Verdana;
    background-image: none !important;
    margin: 20px;
}


div, menu, dir {
    display: block;
    list-style: none;
}

.menu #title {
    font-size: 11px;
    font-weight: bold;
    color: grey;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-left: 20px;
}

.menu #title a{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: Verdana;
}

#titleframe1,
#titleframe2,
#titleframe3,
#titleframe4,
#titleframe5,
#titleframe6,
#titleframe7,
#titleframe8,
#titleframe9,
#titleframe10,
#titleframe11,
#titleframe12,
#titleframe13,
#titleframe14,
#titleframe15,
#titleframe16 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    overflow: scroll;
}

#titleframe1:hover,
#titleframe2:hover,
#titleframe3:hover,
#titleframe4:hover,
#titleframe5:hover,
#titleframe6:hover,
#titleframe7:hover,
#titleframe8:hover,
#titleframe9:hover,
#titleframe10:hover,
#titleframe11:hover,
#titleframe12:hover,
#titleframe13:hover,
#titleframe14:hover,
#titleframe15:hover,
#titleframe16:hover {
    cursor: pointer;
}

.window {
    width: 35vw;
    height: 50%;
    position: absolute;
    overflow: scroll;
    top: 60px;
    left: -50%;
    margin-right: 50%;
    transform: translate(50%);
    z-index: 5;
}

.panel1,
.panel2,
.panel3,
.panel4,
.panel5,
.panel6,
.panel7,
.panel8,
.panel9,
.panel10,
.panel11,
.panel12,
.panel13,
.panel14,
.panel15,
.panel16 {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 461px);
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 461px;
    z-index: -1;
}

/*.mini-preview-anchor {
    position: relative;
}

.mini-preview-wrapper {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    border: solid 1px #000;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
    margin-top: -30px;
    margin-left: 500px;
}

.mini-preview-anchor:hover .mini-preview-wrapper {
    z-index: 2;
    opacity: 1;
}

.mini-preview-loading, .mini-preview-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
}

.mini-preview-loading {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
}

.mini-preview-loading::before {
    content: 'Loading...';
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mini-preview-cover {
    background-color: rgba(0, 0, 0, 0);
}

.mini-preview-frame {
    border: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}*/

/*#menu2 ul li #bio {
    background-image: url(http://icons.iconarchive.com/icons/awicons/vista-artistic/72/2-Hot-Home-icon.png);
}

#menu2 ul li #exhibition {
    background-image: url(http://icons.iconarchive.com/icons/aha-soft/large-calendar/256/Calendar-icon.png);
}*/

.menu ul li a {
    background-size: 18px;
}

.menu ul li a {
    display: block;
    font-size: 11px;
    padding: 4px 0px 2px 40px;
    background-position: 18px 3px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

li.list {
    margin: 20px;
    list-style: none;
}

canvas {
    position: fixed;
    padding: 0px !important;
    z-index: 0.000001;
    background-size:cover;
/*  background-image: url('../images/website5_lighter.gif'); */      
    background-repeat:no-repeat;
    width: 100%;
    top:0px;
    left:0px;
    overflow-y:scroll;
}

.right {
    display: inline-block;
    margin: 0;
    top: 0;
}

@media (max-width: 739px) {

ul.menu3 {
width: calc(100% - 162px);
overflow-y: scroll;
}

.window {
    left: 0;
    margin-right: 50%;
    transform: translate(0);
    position: relative;
    z-index: 999;
    width: 140px;
    height: 100px;
    max-height: 100px;
    padding: 0px;
    margin: 0px;
    top: 10px;
}

iframe.window {
    height: 100px;
    max-height: 100px;
}

iframe {
    height: 100px;
    max-height: 100px;
}

iframe#ifr1,
iframe#ifr2,
iframe#ifr3, 
iframe#ifr4, 
iframe#ifr5, 
iframe#ifr6,
iframe#ifr7,
iframe#ifr8,
iframe#ifr9,
iframe#ifr10,
iframe#ifr11,
iframe#ifr12,
iframe#ifr13,
iframe#ifr14,
iframe#ifr15,
iframe#ifr16,
iframe#ifr17 {
    width: 100px;
    height: 100px;
    max-height: 100px;
}

.panel1,
.panel2,
.panel3,
.panel4,
.panel5,
.panel6,
.panel7,
.panel8,
.panel9,
.panel10,
.panel11,
.panel12,
.panel13,
.panel14,
.panel15,
.panel16 {
    left: 0px;
    z-index: 999;
    position: relative;
    margin-left: 0px;
    width: 120px;
    padding: 0px;
    margin: 0px;
    height: 150px;
    margin-bottom: -20px;
    padding-bottom: -20px;
}

.panel1 iframe,
.panel2 iframe,
.panel3 iframe,
.panel4 iframe,
.panel5 iframe,
.panel6 iframe,
.panel7 iframe,
.panel8 iframe,
.panel9 iframe,
.panel10 iframe,
.panel11 iframe,
.panel12 iframe,
.panel13 iframe,
.panel14 iframe,
.panel15 iframe,
.panel16 iframe {
    height: 100px;
}

.panel1 p,
.panel2 p,
.panel3 p,
.panel4 p,
.panel5 p,
.panel6 p,
.panel7 p,
.panel8 p,
.panel9 p,
.panel10 p,
.panel11 p,
.panel12 p,
.panel13 p,
.panel14 p,
.panel15 p,
.panel16 p {
    width: 120px;
    margin-left: 0px;
    margin-bottom: -10px;
}

.list {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

span#titleframe1,
span#titleframe2,
span#titleframe3,
span#titleframe4,
span#titleframe5,
span#titleframe6,
span#titleframe7,
span#titleframe8,
span#titleframe9,
span#titleframe10,
span#titleframe11,
span#titleframe12,
span#titleframe13,
span#titleframe14,
span#titleframe15,
span#titleframe16 {
    width: 120px;
    height: 100px;
}



}

